<!-- Modal -->
<div class="modal fade" id="dialogConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe1">
	<div class="modal-dialog" role="document" style="padding-left: 12%">
		<div class="modal-content" style="width:300px;">
			<div class="modal-header" style="padding-top: 0px;padding-bottom: 0px;">
				<h4 class="blue bigger">温馨提示</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<p id="dialogConfirmModalBody" style="font-size: 14px"></p>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>取消
				</button>
				<button class="btn btn-sm btn-primary" id="dialogConfirmokbutton">
					<i class="ace-icon fa fa-check"></i> 确认
				</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="dialogOKModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
	<div class="modal-dialog" role="document" style="padding-left: 12%">
		<div class="modal-content" style="width:300px;">
			<div class="modal-header" style="padding-top: 0px;padding-bottom: 0px;">
				<h4 class="blue bigger">温馨提示</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12" style="padding-left: 20px;">
						<p id="dialogOKModalBody" style="font-size: 14px" class="text-nowrap"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-primary" id="dialogOKbutton">
					<i class="ace-icon fa fa-check"></i> 确认
				</button>
			</div>
		</div>
	</div>
</div>