<ul class="sidebar-menu" data-widget="tree">
	<li class="active treeview">
		<a href="#"> <i class="fa fa-folder"></i> <span>基数数据</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li class="active">
				<a href="#/system/user/list" menuclick="true"><i class="fa fa-circle-o"></i>用户管理</a>
			</li>
			<li>
				<a href="#/system/common/leftMenu" menuclick="true"><i class="fa fa-circle-o"></i>菜单管理</a>
			</li>
			<li>
				<a href="#/leftMeun" menuclick="true"><i class="fa fa-circle-o"></i>角色管理</a>
			</li>
			<li>
				<a href="#/leftMeun" menuclick="true"><i class="fa fa-circle-o"></i>系统变量管理</a>
			</li>
		</ul>
	</li>
</ul>
